<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="{{mypost.post_title}}">
    <ion-content has-header="true" has-tabs="true">

<div class="card">
            <div class="item item-text-wrap">
        
            	{{mypost.post_title}}
             

            </div></div>

        <div class="card">
            <div class="item item-text-wrap">
                <div class="button-bar">
                    <a class="button active">Solution</a>

                    <a ng-href="mailto:{{email.address}}?subject={{email.subject}}&body={{email.body}}" class="button button-balanced">
                        Help Me<i class="icon-envelope"></i>
                </a>
                </div>
            </div>
            <content padding="true">
                <div class="card">
                    {{mydata}}
                </div>
            </content>

        </div>




    </ion-content>
</ion-view>